@using DotNetOpenAuth.OpenId.Extensions.SimpleRegistration
@{
    ViewBag.Title = "LogOn Confirm";
}
<h2>
    Logging in somewhere?
</h2>
<p>
    Are you trying to log into <b>@ViewData["Realm"]</b>?
</p>
@using (Html.BeginForm("AskUserConfirm", "OpenId")) {
    @Html.AntiForgeryToken()
    
    if (ViewBag.ClaimsRequest != null) {
        <div class="claims">
            @if (ViewBag.ClaimsRequest.Email == DemandLevel.Request)
            {
                <text>Your email is being requested and will be sent to the requesting site if you click "yes"</text>
            }
        </div>   
        <div class="fetch">
            @if (!string.IsNullOrWhiteSpace(ViewBag.FetchRequest))
            {
                <text>The requesting site will be give the following information: @ViewBag.FetchRequest</text>
            }
        </div>
    }
    
    <div class="responseform">
        <input type="submit" value="yes" />
        |
         @Html.ActionLink("No", "Index", "Home")
    </div>
}