@{
    ViewBag.Title = "Home Page";
}

<h2>About</h2>
<p>
    This is an example <a href="http://openid.net/">OpenID</a> provider, which currently uses UCD CAS for backend authentication but could easily use Shibboleth or any other backing authentication. 
    OpenID is very simple to use, and can be easily <a href="http://openid.net/add-openid/add-getting-started/">added to existing sites</a>.
    There are libraries for working with OpenID in <a href="http://openid.net/developers/libraries/">most programming languages</a> as well as 
    plugins for common CMS providers and even easy to use third-party providers.
</p>
